__pycache__
.old_game
.newer_old_game
model
.spyproject/
modelsaves/*
!modelsaves/*200.pth
!modelsaves/*200.pkl
matchmaking_screens/*
temp_videos/
videos/*
!videos/GA_NPNET_5x5_vs_RL_7x7.mp4
demo.py
demo_output/*
videos_demo/